body{
margin:0;
background:black;
color:gold;
font-family:Arial;
text-align:center;
}

header{
background:#111;
padding:15px;
}

.whatsapp{
color:black;
background:gold;
padding:10px;
text-decoration:none;
border-radius:5px;
}

.hero{
padding:60px;
}

button{
padding:10px 20px;
background:gold;
border:none;
}
